---
import Layout from "../layouts/Layout.astro";
import { getIssues } from "../lib/notion";
import type { Issue } from "../lib/types";
import ArticleCard from "../components/ArticleCard.astro";

const issues: Issue[] = await getIssues();
---

<Layout title="All This & That">
  <h1 class="text-4xl font-bold mb-8">Issues</h1>

  <div class="grid articles">
    {issues.map((issue) => <ArticleCard issue={issue} />)}
  </div>
</Layout>
